<app-navbar></app-navbar>

<!-- welcome page -->

<section class="home">
  <div class="home-text">
    <span>
      welcome to ProSuite
    </span>
    <h1>Discover the power of Software</h1>
    <p>Every day, our clients are faced with challenges and opportunities. <br>
      We help them solve their problems by connecting them to 
      information technology. <br> We offer solutions that grow, 
      empower and help businesses.</p>

    <div class="main-btn">
      <button class="btn">Get Started</button>
      <button class="btn request">Request a Demo</button>
    </div>
  </div>

  <div class="home-img">
      <img src="../assets/images/header-img.png" alt="">
  </div>
</section>

<!-- why us section start -->

<div class="service">
  <div class="title">
    <h4>Why ProSuite?</h4>
  </div>

  <div class="box">
    <div class="card">
      <img src="../assets/images/laptop.png" alt="">
      <h5>Comprehensive <br> Managment Suite</h5>
      <div class="pra">
        <p>ProSuite is a one-stop solution for enterprise oprations, offering services from assest tracking to a compliance managment</p>
      </div>
    </div>

    <div class="card">
      <img src="../assets/images/laptop.png" alt="">
      <h5>User-Friendly <br> Design</h5>
      <div class="pra">
        <p>With its emphasis on user experience and easy-to-use tools, ProSuite transforms complex tasks into simple operations.</p>
      </div>
    </div>

    <div class="card">
      <img src="../assets/images/laptop.png" alt="">
      <h5>Cloud-Based <br>
        Solution</h5>
      <div class="pra">
        <p>As a flexible, cloud-based suite, ProSuite ensures business continuity and scalability, allowing businesses to manage their operations anytime, anywhere.</p>
      </div>
    </div>
  </div>
</div>
<!-- why us section end -->

<!-- start our solution page -->
<div class="solution">
  <div class="title">
    <h4>Our Solutions</h4>
  </div>

  <div class="box-solution">
    <div class="card">
      
      <h5>Asset Management</h5>
      <div class="pra">
        <p>Gain control of your asset with Software that helps you keep track of your physical assets.</p>

        <p style="text-align: left;">
        <a href="" class="button"> Learn More</a></p>
      </div>
    </div>

    <div class="card">
      
      <h5>Risk Management</h5>
      <div class="pra">
        <p>Identify, capture and monitor enterprise risks with ease.</p>
        <p style="text-align: left;">
          <a href="" class="button"> Learn More</a></p>
      </div>
    </div>

    <div class="card">
      
      <h5>Document Management 
        </h5>
      <div class="pra">
        <p>Easy-to-use solution that enables your firm to convert paper into electronic files.</p>
        <p style="text-align: left;">
          <a href="" class="button"> Learn More</a></p>
      </div>
    </div>
  
    <div class="card">
      
      <h5> Performance Management
        </h5>
      <div class="pra">
        <p>Achieve business stragetic goals with a solution ensuring organizations are running effenciently</p>
        <p style="text-align: left;">
          <a href="" class="button"> Learn More</a></p>
      </div>
    </div>

    <div class="card">
      
      <h5> Audit
        </h5>
      <div class="pra">
        <p>Streamline your audit processes and comply with regulations or internal policies.
        </p>
        <p style="text-align: left;">
          <a href="" class="button"> Learn More</a></p>
      </div>
    </div>

    <div class="card">
     
      <h5> compliance Management
        </h5>
      <div class="pra">
        <p>Manage and meet legal requirements and comply with applicable laws and regulations.</p>
        <p style="text-align: left;">
          <a href="" class="button"> Learn More</a></p>
      </div>
    </div>
  </div>
</div>
<!-- end our solution page -->

<!-- start section background  -->
<div class="information-request">
  <div class="info">
    <h3>We'd love to show you how our solution works</h3>
  </div>
  <button>Request a Demo</button>
</div>
<!-- end section background  -->


<!-- start footer section -->
<footer class="footer">
  <div class="footer-item">
    <img src="../assets/images/footer.png" alt="Logo" class="logo">
    <p class="logo-text">ProSuite is a suite of cloud-based platforms which aims at transforming and automating enterprise tasks. Our solutions focus on user experience and easy-to-use tools including Asset Management, Risk Management and Perfomance Management.</p>
  </div>
  <div class="footer-item">
    <h4>Services</h4>
    <ul>
      <li>ProSuite Risk</li>
      <li>ProSuite Docs</li>
      <li>ProSuite Asset</li>
      <li>ProSuite Performance</li>
    </ul>
  </div>
  <div class="footer-item">
    <h4>Links</h4>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Solutions</li>
      <li>Contact</li>
      <li>Request a Demo</li>
    </ul>
  </div>
  <div class="footer-item">
    <h4>Contact Us</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacinia morbi praesent nulla tempor sagittis. Curabitur donec cursus donec risrdum nullam orci sit dictum. Molestie nunc sed amet vulputate in. Condimentum mi massa id interdum risus, tortor nunc mauris.
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      <p>2024 (c) ProSuite. All rights reserved.</p>
    </div>
    <div class="privacy-policy">
      <a href="#" class="privacy-policy-link">Privacy Policy</a>
    </div>
    <div class="social-icons">
      <a href="#" class="social-icon"><i class='bx bxl-github'></i></a>
      <a href="#" class="social-icon"><i class='bx bxl-facebook'></i></a>
      <a href="#" class="social-icon"><i class='bx bxl-instagram'></i></a>
      <a href="#" class="social-icon"><i class='bx bxl-ant-design'></i></a>

    </div>
  </div>
  
</footer>
<!-- end footer section -->